@import '../../styles/shared';

$icon-size-lg: 46px;
$icon-size-md: 40px;
$icon-size-sm: 32px;

.Header {
    background-color: $color-usb;
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;

    @include media(tablet,desktop) {
      height: $header-height-big;
    }

    &-wrapper {
        @include content-area();
        display: flex;
        justify-content: space-between;
    }

    &-title {
        font-family: 'Helvetica';
        font-size: 20px; 
        float: left;
        padding-top: 10px;
        padding-left: $gutter-padding;
        width: 10em;
    
        @include media(tablet,desktop) {
          font-size: 24px;
        }
    }

    &-title--inverse {
        color: $color-white;
    }

    &-tools {
        padding-top: 8px;
        padding-right: $gutter-padding;
    }

    &-sdtools {
        padding-top: 8px;
        padding-right: $gutter-padding;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 0.85em;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: $color-usbbg;
        }
    }

    &-action {
        background: $color-white;
        border-radius: 100%;
        width:  $icon-size-sm;
        height:   $icon-size-sm;
        font-size:   18px;
        color: $color-black;
        text-align: center;
        align-content: center;
        float: left;
        margin-right: 1.5rem;
        
        &:last-child {
          margin-right: 0;
        }
    
        .svg-inline--fa {
          position:relative;
          top: 2.5px;
          right: 1px;
        }
    
    
    
        @include media(desktop) {
          width:  $icon-size-lg;
          height:   $icon-size-lg;
          font-size:   26px;
        }
    
        @include media(tablet) {
          width:  $icon-size-md;
          height:   $icon-size-md;
          font-size:   22px;
        }
      }
      
  }